{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
        <p>
            <a href="{% url 'post_edit' pk=post.pk %}">Edit</a> | 
            <a href="{% url 'post_delete' pk=post.pk %}">Delete</a>
        </p>
    </div>
</body>
</html> {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
        <p>Published: {{ post.published_date }}</p>
        {% if post.updated_date %}
            <p>Last updated: {{ post.updated_date }}</p>
        {% endif %}
    </div>
</body>
</html>

